#**2.1 INTRODUCTION TO LINUX**
****
In this part of the project, we start talking about the basis of the language you have to know and use while operating on a Linux shell.
We created a tutorial meant for students that are starting to have a first approach with a Linux-powered system, basing our choices in the making on the difficulties and the needs we had ourselves when trying to learn how to use it.

Our tutorial starts with an overview of the most important and commonly utilized commands, in particular the ones that are specific for starting to learn how to move between directories and basic file or directory manipulation, with a special focus on .pdb files manipulation. In fact, the aim of this tutorial is to be used in a teaching that sets the basis for utilizing Linux systems in 3D molecular modelling, in particular for studying proteins and their behavior in complex systems.

For each command we showed, we explained the most common uses and made examples about the most common applications, such as specific integrated functions that allow the user to utilize them with a large variety of possible declinations. Of course we could not have been able to explain all of the possible functions that can be used for every command, because they are a large number and the examples would have been endless, but we chose the ones that we tought could have been the most useful for a beginner, and other ones that appeared the most useful for making the students understands how the command works and how it can be utilized in different kind of applications.

To make it easier for the students to get familiar with the language, we provided some exercises in the end of the tutorial, that are structured to force them to use every command we talk about and to really question their functioning, which is a necessary passage to really understand the power and the features of any of them.

For each exercise, we also provided its commented solution using a code block that simulates a Linux shell and can be executed directly in the Colab environment, allowing the students to clearly see which results those codes actually give in a real Linux environment.  The students can also use the simulated shell they find in the end of the notebook to personally try to elaborate the solutions of the exercises, or also to practice individually to get to know the environment and the language better. We think this could be particularly useful for those students who have difficulties in having a linux envirnoment available on their computers, or who simply havenâ€™t installed the VirtualMachine or the Linux Subsistem yet.

Here is a list of the most basic Bash language commands that allow you to begin interfacing with a Linux shell, particularly to start moving through folders and manipulating files.

#**2.2 LINUX COMMANDS**
****


### 2.2.1 COMMANDS TO NAVIGATE THROUGH FOLDERS AND FILES
* **cd** 
>Command used to move to another folder.
>
>example: `cd /home/user/name_directory` 

* **cd ..** 
>Command used to return to the top folder.
>
>Using `cd ../..` for example, goes up two folders, and so on.

* **ls**
>Lists all items (files and folders) in the folder you are in.
>
>`ls [options] [target]`
>
>**SPECIAL CASES**
>>
>>**ls /folder** 
>>
>>List items in the specified folder
>> 
>> **ls -l** 
>>
>>Show more information about the files and folders listed
>>
>> **ls -a** 
>>
>>It also shows the hidden files present in the folder

* **pwd**
>Print the file or directory path on the screen.

* **mv**
>Rename the folder or file
>
> example: `mv filenamenew`

* **cp**
>Copy files or folders from one directory to another.
>
>example: `cp filename destination` (if you are in the directory where the file is).

* **mkdir**
>Creates a new folder in the current directory
>
>example: `mkdir foldername`
>
> example: `mkdir /home/newfolder` (creates the folder with the given path even if you are not in the directory where you want to create it)

* **touch**
>Creates new file whose name and extension are given.
>
>example: `touch file.txt`

### 2.2.2 COMMANDS FOR PRINTING TO SCREEN OR FILE.

* **echo**
>Print the given text to the terminal or to a file.
>
>example: `echo "TEXT"` (Print to screen)
>
>example: `echo "TEXT">file.txt` (creates new file)
>
> example: `echo "TEXT">>file.txt` (adds into existing file)
>
>It is also possible to print the contents of a variable or the outcome of a command in a file or variable.
>
> example: `echo $variable>>file.txt` (prints the contents of the variable in the file)
>
>example: `echo $(pdw)>variable` (prints the file path in the variable)

* **cat**
>Prints the contents of a file on the screen.
>
>example: `cat file.txt` 

* **head / tail**
>Prints the first (head) or last (tail) 10 lines of the file.
>
>example: `head file.txt`
>>
>**SPECIAL CASES**
>>
>>**head -n 50 filename** 
>>
>>Print the first 50 lines of the file
>>
>>**tail -n 20 filename** 
>>
>>Print the last 20 lines of the file
>>
>>**tail -n +20 filename | head -n 11** 
>>
>>Print the lines between 20 and 30 (11 elements)

### 2.2.3 COMMANDS TO OPERATE ON FILE

* **grep**
>Isolates rows in a file containing a word, number, pattern.
>
>example: `grep "WORD" file.txt`.
>
>example: `grep "WORD" file.txt> file2.txt` (prints lines containing WORD from file.txt into file2.txt).

* **uniq**
>Finds repeated lines and keeps only one copy
>
>example: `uniq file.txt> file2.txt` (prints the file with the non-repeated lines in file2.txt).

* **sort**
>Sorts the rows of a file in numerical and then alphabetical order. Numeric has priority over alphabetical
>
>example: `sort input.txt>order.txt` (sorts the input file into the destination file).

* **cut**
>Print specific parts of each line of a file (columns or characters).
>
>>
>**SPECIAL CASES**
>>
>>**cut -c1-5 filename** 
>>
>> the `-c` command allows you to print precise characters from each line, in this case characters 1 through 5.
>>
>>**cut -d: -f3 filename**
>>
>> The `-d` command allows you to tell the system which, within the file, is the character separating the columns, so that it can treat it as divided into such and not by single character (in this example, the columns are separated by the character ":"). The `-f` command allows you to indicate which column to select (in this example the third).
>>
>>**cut -d: -f3 --complement filename**
>>
>> The `--complement` command allows you to "reverse" the action of the previous command: column 3 will be the only one not selected.

* **wc**
>Count the words, rows, or elements indicated by the options.
>
>>
>**SPECIAL CASES**
>>
>>**wc -l filename** 
>>
>>Count the lines in the file.
>>
>>**wc -w filename** 
>>
>>Count the words.
>>
>>**wc -m filename**
>>
>>Count the characters.
>>
>>**wc -c filename**
>>
>>Count bytes.
>
>**ALTERNATIVE SYNTAX**
>>
>>`cat file.txt | wc -option`

* **awk**
>It is a very versatile command used in file scripting. An example of its use is as follows, but being a true scripting language its uses are many.
>
>The structure of an awk script will be of the type:
>
>`pattern {action}`
>
>`pattern {action}`
>
>A more detailed discussion of the command is explained later in the dedicated section.

### 2.2.4 OTHER USEFUL COMMANDS.

* **--help**
>Allows you to have the terminal provide an explanation of how a command works. 
>
>example: `echo --help` or `echo -h` (print explanation of echo command).

* **clear** 
>Clears the screen while staying in the folder you are in.

* **sudo**
>Allows you to run a command as an administrator, so with higher level permissions. Prompts the user for a password.
>
>example: `sudo nomecommand`

#**2.3** THE **AWK** COMMAND.

AWK can be defined as a generic filter for text files.
It processes one line at a time of the text file, performing different actions depending on whether the line meets certain conditions or contains certain patterns. It then reads line by line and applies the rules defined by the programmer to each.

SUMMARY:



* Everything that is to be read in the specific language of AWK must be inserted between ' '

* Actions in awk are enclosed in curly brackets { }
* Multiple instructions are executed in the order they appear and must be separated by ;

* The pattern consists of the expression enclosed between / /

Below we provide some examples of possible uses of the AWK command to perform various operations

In [20]:
#@title Run the cell to upload the file
%%bash
echo Mario guarda il mare >>elenco.txt
echo Ho preso un gelato con Mario >>elenco.txt
echo Non litagare con Mario >>elenco.txt
echo ciao >>elenco.text

**EXAMPLE 1**: Extract from a file only the rows that contain a certain word

In [22]:
%%bash
cat elenco.txt | awk '/MARIO/ { print }'   #print on the screen only the lines 
                                            #that contain the word 'MARIO'

# Alternatively, you can also use 
# awk '/MARIO/ { print }' file1 file2 file3   #Receives the files to be parsed are
                                            #passed in standard input
# or
cat elenco.txt | awk '/MARIO/'

In case you want to make longer programs that cannot be executed directly from the command line, you can save the program to a file and specify to AWK the name of the file to be executed.

In [23]:
%%bash
echo '/MARIO/ { print $0 }' > cerca-mario.awk    # variable $0 contains 
                                                  # the entire line
cat elenco.txt | awk -f cerca-mario.awk          # the '-f' option allows you to
                                                  # work on the files

Also widely used with AWK are the BEGIN and END commands, which allow an instruction to be executed at the beginning or end of the program, respectively.

In [ ]:
%%bash
awk 'BEGIN { print "Start Processing." }; {print $1 }; END { print "End Processing." }'

**EXAMPLE 2**: Count the number of rows in a file (such as wc -l)

In [ ]:
%%bash
awk 'END  { print NR }'  # counts the number of rows entered as input 
# or
awk 'END  { print NR }' elenco.txt     # count the rows of the inserted file 
                                        #from command line

**EXAMPLE 3**: extract an input column (like the cut, but in some cases the cut may not work).

In [ ]:
%%bash
df -k | awk '{ print $4 }' elenco.txt #print column 4 of the supplied file 
                                        #in input

**EXAMPLE 4**: Totalizing a column in input.

In [ ]:
%%bash
awk -v ncol=3 '{ sum += $ncol } END { print sum }'    # sum all the values 
                                                      #of column 3 and at the 
                                                      #end prints the sum 
                                                      #total

**EXAMPLE 5**: Looking for the maximum value of a column.

In [ ]:
%%bash

awk '{ if ($1 > max) { max = $1} } END { print max }' #if the value acquired 
                                                      #in input is greater than 
                                                      #the maximum one until 
                                                      #then met saves it 
                                                      #in the variable max
                                                      #it eventually prints to 
                                                      #video the maximum value

**EXAMPLE 6**: Print all rows whose x field ranges from m to n (generic values). For example, print the rows whose fourth field ranges from 31 to 33.

In [29]:
%%bash

awk '$4 == 31, $4 == 33 { print $0 }'   #imposes the values of m=31 and n=33 of
                                        #the rows to be printed and then prints 
                                        #all of the line ($0)

AWK allows two or more patterns to be combined using the logical AND operator (&&) and the OR operator (||)

**EXAMPLE 7**: Print rows whose third field is greater than 50 and fourth field less than 30

In [ ]:
%%bash

awk '$3 > 50 && $4 < 30 { print $1 }'    # imposes the two conditions. 
                                          #( $3>50 e $4<30 )
                                         # if both are verified it prints 
                                         # on the screen the first field

**EXAMPLE 8**: Print the file name and number of rows.

In [ ]:
%%bash                                                
   # FILENAME and NR extract the filename and number of rows.

awk 'END { print "File", FILENAME, "contains", NR, "lines" }' elenco.txt  
 # the strings to be printed should be inserted between ""
 # while the variables FILENAME and NR, which contain respectively.
 # the filename and the number of lines no.

Mathematical operations can also be performed more easily with AWK.

**EXAMPLE 9**: Calculate the sum of the values stored in the first field of each row.

In [ ]:
%%bash

awk '{ sum += $3 } END { printf "%d\n", sum}'  # printf allows you to have 
                                               #more control over the format 
                                               #of the output than print.
                                               # instruction in the first 
                                               #parenthesis performs the sum
                                               # upon completion prints out on
                                               #the screen the result

#**2.4 PROPOSED EXERCISES**
****


>
To upload the file to be used for the exercises use the following procedure:
On Colab, on the left bar select the folder icon. You will be faced with the following menu
>
![Immagine1.png]()
>
Select the icon circled in red and choose the file to upload from your pc. Keep in mind that when the notebook is closed, the uploaded temporary files are deleted and must be uploaded again the next time you open it.
>
**WARNING**: To run the following cells, you must upload the 1yzb.pdb file to colab, as shown above.

You can download the .pdb file directly to your pc by clicking on this link https://files.rcsb.org/download/1YZB.pdb

Alternatively, simply run the cell below to temporarily upload the file to colab

In [ ]:
#@title Run the cell to upload the file
!wget  https://files.rcsb.org/download/1YZB.pdb

# 2.4.1 EASY EXERCISES

**EXERCISE 1**

Create the folder "ese01," and create the file "example.txt" inside the folder. Write in the file a text of your choice, then add in the same file the path to the file itself (without deleting what the file already contains). Finally, print the contents of the file on the screen.

**HINTS**: mkdir, touch, echo, cat, pwd, >, >>

In [ ]:
#@title Exercise 1
%%bash

mkdir ese01  #create folder ese01 in the directory I am in.
touch exemple.txt    #create new file "esempio.txt"
echo Hello Pippo >>esempio.txt    #print the text in the existing file 
echo $(pwd) >>esempio.txt    #print the file path in the file, without 
                             #overwriting. 
                             #The $ symbol is used to extract the contents of the
                             # pwd command.
cat exemple.txt   #print on screen the file

**EXERCISE 2**

Create the folder "ese02" and copy the file 1yzb.pdb into it. Print the first and last lines of the file on the screen, then print them in the file "firstlast.pdb". Count the lines in both files.

**HINTS**:
mkdir, head, tail, cat, wc, cp

In [ ]:
#@title Exercise 2
%%bash

mkdir /content/ese02
cd /content       # I move to the folder containing the file because 
                    # in my case this is where the file I need is located.
cp 1YZB.pdb /content/ese02  #copy the file to the destination directory.
                            # ~/content/ese02
head -n 1 1YZB.pdb                      
head -n 1 1YZB.pdb >firstlast.pdb  # I extract the first line of the file 
                                  #and print it into the newly created file 
                                  #firstlast.pdb
tail -n 1 1YZB.pdb                   # I extract the last line
tail -n 1 1YZB.pdb >>firstlast.pdb   # print it in the same file
cat firstlast.pdb | wc -l  # count the lines in the file 
                            # (with this command line, only the number of 
                            #lines of the file is printed to the 
                            #screen only the number of lines in the file, 
                            #without repeating its name)
cat 1YZB.pdb | wc -l

**EXERCISE 3**

Create the directory /content/ese03 and move inside it. print the directory path to a folder called pathx. print the variable on the screen.

**HINTS**: mkdir, pwd, echo, cd

In [ ]:
#@title Exercise 3
%%bash

mkdir ese03
cd ese03
pathx=$(pwd)
echo $pathx

**EXERCISE 4**

Create the file file04.txt and print the variable pathx inside it. Finally, print on the screen the file

**HINTS**: cat, echo, pwd, touch

In [ ]:
#@title Exercise 4
%%bash

touch file04.txt
pathx=$(pwd)
echo $pathx >>file04.txt
cat file04.txt

**EXERCISE 5**

Create the directory /content/ese05 and copy the downloaded .pdb file to it. Extract the first 20 rows from the file, save them in the file first20.pdb. Finally save only the columns corresponding to "atom number" and "atom name" in the file simple.pdb.

**HINTS**: mkdir, cp, grep , head, awk, cat

In [ ]:
#@title Exercise 5
%%bash
mkdir /content/ese05
cd /content
cp 1YZB.pdb /content/ese05

grep "^ATOM" 1YZB.pdb | head -n 20 >first20.pdb  #extract only the lines that 
                                                #contain the word ATOM in the 
                                                #first column
                                               #(The symbol ^ indicates 
                                               #precisely that 
                                               #ATOM must be in the first 
                                               #position to be 
                                               #extracted
                                               #with head I extract the first 
                                               #20 lines and I 
                                               #print them into the new file
awk '{print $2 , $3}' first20.pdb > simple.pdb   #print columns 2 and 3 
                                                 #from the file first20.pdb
                                                 # into the 
                                                 #new file simple.pdb
cat simple.pdb

**EXERCISE 6**

Working on the .pdb file previously copied into the ese05 folder, print its contents to the screen. After cleaning up the window, print its first 50 lines on the screen, then print them in the file first50.pdb. When finished, verify that you have performed the step correctly by counting the lines in the new file and verifying that there are 50 of them.

**HINTS**: cat, clear, wc, head

In [ ]:
#@title Exercise 6
%%bash

cat 1YZB.pdb
#cd ~/ese05
clear
head -n 50 1YZB.pdb
head -n 50 1YZB.pdb >first50.pdb
cat first50.pdb | wc -l

## 2.4.2 DIFFICULT EXERCISES

**EXERCISE 7**

Extract only the lines beginning with ATOM from the file 1yzb.pdb, and save them to the fail atoms.pdb. Extract the first 10 lines of atoms.pdb and save them to the firts10.pdb file. Do the same with the last 10, saving them in last10.pdb.
Print lines from 10 to 20 of the atoms.pdb file on the screen.

**HINTS**: grep, head, tail

In [ ]:
#@title Exercise 7
%%bash

cat 1YZB.pdb | grep ATOM >atoms.pdb
head -n 10 atoms.pdb >first10.pdb
tail -n 10 atoms.pdb >last10.pdb
tail -n +10 atoms.pdb | head -n 11

**EXERCISE 8**

From the file 1yzb.pdb extract only the carbon atoms and save them in a new file called atoms_c.pdb. Then count the number of carbon atoms. Create the file number_atoms.txt and write inside "There are "N" carbon atoms in the file 1yzb.pdb." Try other elements of your choice (e.g., oxygen, nitrogen, hydrogen) and add their data to the file number_atoms.txt, being careful not to delete what you wrote previously.


**HINTS:** awk, wc, touch, >, >>

In [ ]:
#@title Exercise 8
%%bash 

awk '$12 ~ /C/ {print $0}' 1YZB.pdb >atomi_c.pdb     # As an alternative to
                                                     # the command 
                                                    #grep, seen in the other 
                                                    #exercises one can use
                                                    # an awk action
n_atomi=$(cat atomi_c.pdb | wc -l)   #save in the variable the number of rows 
                                     #of the atoms_c file

echo In file 1YZB.pdb are present $n_atomi atoms of carbon >number_atoms.txt

# print in the file number_atoms.txt the given line of text, where I wrote 
# $n_atoms will be printed the contents of the variable n_atoms.

awk '$12 ~ /H/ {print $0}' 1YZB.pdb >atomi_h.pdb
n_atomi=$(cat atomi_h.pdb | wc -l)   #print in the variable the number of
                                     #lines of the file atoms_h.pdb.
                                    
echo In file 1YZB.pdb are present $n_atomi atomi of hydrogen >>number_atoms.txt   
# pay attention to >> which (unlike >) is used to add text 
# to the file without deleting what is already there

cat number_atoms.txt

**EXERCISE 9**

Extract the ATOM lines from the file 1yzb.pdb and save them in the file "atoms.pdb". Then extract from that file the Serine residues (marked SER in column 4) and transcribe them into the file "residuiser.pdb." Print the coordinates of all the atoms belonging to those residues in the file "xyzser.pdb," and finally count the SER residues and print their numbers on the screen.

**HINTS**: grep, wc, awk, uniq, cat, >

In [ ]:
#@title Exercise 9 extended version
%%bash


grep "^ATOM" 1YZB.pdb>atoms.pdb
awk '{print $3, $4, $7, $8, $9}' atoms.pdb>residui.pdb  #print columns 3,
                                                         #4, 7, 8, 9 of the file 
                                                         #atoms.pdb in the file 
                                                         #residui.pdb
grep "SER" residui.pdb>residuiser.pdb
awk '{print $3, $4, $5}' residuiser.pdb>xyzser.pdb   #print columns 3,
                                                     #4, 5 of the file 
                                                     #residuiser.pdb in
                                                     # the xyzser.pdb.pdb file.
grep "CA" residuiser.pdb>residuiser1.pdb  #extract only the lines with carbon
                                            #alpha, this ensures that I 
                                            #extract only one for each residue.
cat residuiser1.pdb | wc -l

In [ ]:
#@title Exercise 9 contracted version
%%bash

grep "^ATOM" 1YZB.pdb | grep SER | grep CA >residuiser.pdb  #extract only the 
                                                            #strings with carbon
                                                            #alpha, this 
                                                            #guarantee to 
                                                            #extract only one
                                                            #for each residue
awk '{ print $7, $8, $9 }' residuiser.pdb > xyzser.pdb      # I use awk to save 
                                                            #the columns 
                                                            #containing the 
                                                     #coordinates in the file
cat residuiser.pdb | wc -l                  # use wc to count rows

**EXERCISE 10**

Extract the REMARK columns of the 1yzb.pdb file into a "remark.pdb" file. Print on screen the rows from 20 to 40, then print on screen the rows with 500 in the second column.

**HINTS**: grep, head, tail, cat

In [ ]:
#@title Exercise 10
%%bash

grep "^REMARK" 1YZB.pdb >remark.pdb
tail -n +20 remark.pdb | head -n 21   #print lines 20 through 40.
                                      #(21 rows in total)
grep "500" remark.pdb >remark1.pdb
cat remark1.pdb

**EXERCISE 11**

Create a new file called new.pdb containing the first 100 atoms of the file 1yzb.pdb . Extract and print on the screen all the x-coordinates of the atoms belonging to the new file.

**HINTS**: cat, grep, head, awk

In [ ]:
#@title Exercise 11
%%bash

cat 1YZB.pdb | grep ^ATOM >atoms.pdb 
head -n 100 atoms.pdb >new.pdb 
awk '{ print "The coordinate x is : ", $7}' new.pdb

**EXERCISE 12**

Create a new file called extracts.pdb consisting of the first 10 lines, lines 100 to 110 and the last 10 lines of atoms.pdb.
Extract only the lines of atoms.pdb with the x-coordinate less than 1.5 and save them in the file x_below.pdb.
Finally extract from atoms.pdb only the columns containing the x, y and z coordinates and the atom number, and save them in simple.pdb.

**HINTS**: cat, grep, head, tail, cut, awk

In [ ]:
#@title Exercise 12
%%bash

cat 1YZB.pdb | grep ATOM >atoms.pdb
head -n 10 atoms.pdb >extracted.pdb
tail -n +100 atoms.pdb | head -n 11 >>extracted.pdb
tail -n 10 atoms.pdb >>extracted.pdb

awk '$7 < 1.5 { print $0 }' atoms.pdb >x_below.pdb

awk '{ print $2, $7, $8, $9 }' atoms.pdb >simple.pdb
cat x_below.pdb
cat simple.pdb

**EXERCISE 13**

Create a file called file1.pdb containing only atoms having the x coordinate between 10.3 and 10.9 and two others called file2.pdb and file3.pdb containing only atoms having the y and z coordinates between the same values, respectively. At this point merge the three files into one called filefinale.pdb .

In [ ]:
#@title Exercise 13
%%bash
cat 1YZB.pdb | grep ^ATOM >atoms.pdb 
awk '$7 >= 10.3 && $7 <= 10.9 { print $0 }' atoms.pdb >file1.pdb
awk '$8 >= 10.3 && $8 <= 10.9 { print $0 }' atoms.pdb >file2.pdb 
awk '$9 >= 10.3 && $9 <= 10.9 { print $0 }' atoms.pdb >file3.pdb 
echo "Atoms with x between 10.3 and 10.9 inclusive are."
cat file1.pdb

**EXERCISE 14**

Count the number of alanine residues contained in the file atoms.pdb (labeled ALA).
Count how many trajectories are contained in 1yzb.pdb (marked by the word MODEL).
Create a sequence.txt file containing all the numbers from 1 to 1000.

**HINTS**: cat, grep, wc, uniq, sort, seq

In [ ]:
#@title Exercise 14 contracted form
%%bash

grep ALA atomi.pdb | grep CA | sort | uniq -w 20 | wc -l
grep -v REMARK 1YZB.pdb | grep MODEL | wc -l
seq 1 1000 >sequence.txt

In [ ]:
#@title Exercise 14 extended form
%%bash
grep "ATOM" 1YZB.pdb>atoms.pdb
grep "ALA" atoms.pdb>residuiala.pdb

grep "CA" residuiala.pdb>residuiala1.pdb  #extract only the lines with carbon
                                          #alpha, this ensures that I 
                                          #extract only one for each residue.
cat residuiala1.pdb | wc -l 

grep -v "REMARK" 1yzb.pdb>noremark.pdb
grep "MODEL" noremark.pdb>model.pdb
cat model.pdb | wc â€“l 
seq 1 1000 >sequence.txt
cat sequence.txt

## **2.5 USEFUL COLAB CELLS**
****

Here is a useful cell for temporarily loading any callable files in the code

In [ ]:
from google.colab import files
files.upload()

Here at hand is a cell that simulates a full-fledged linux terminal

In [ ]:
!pip install google-colab-shell
from google_colab_shell import getshell
getshell()